/*Lubna Shah 4374153 */

html{
    font: normal small-caps normal 20px/1.5 Times, courier, monospace;

}
body{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    padding: 0.25rem;
}

h1, h2{
    font-variant: small-caps;
    color: black;
}

figcaption{
    font : bold;
    font-variant: small-caps;
    font-size: 1.25rem;
}

q{
    font-style: italic;
    font-family: cursive;
    font-size: 1.25rem;
}


footer p{
    font-size : 0.30rem;

}
body{
    width: 100%;
    max-width: 1250px;
    padding: 1rem;
    margin: auto;
}
.main-section-figure img{
    width: 60%;
    height: 40%;
    border-radius: .50rem;
    padding: .55rem;
}
.main-section-figure{
    width: 50%;
    height: 50%;
    padding: 1rem;
    margin: .75rem .75rem;
    align-items: center;

}


iframe{
    width: 50%;
    padding: .75rem;
    border: .25rem solid #dbc;
    border-radius: 1rem;
    color: rgb(15, 15, 12);
    

}

header, footer{
    text-align: center;
    border: .25rem solid #181614;
    background-image: linear-gradient(to left, #e4d1bb, #e9dc94 50%, #eee 75%, #eee 82%);
}


.main-section{
    text-align: center;
    padding: 1rem;
    background-color: hsla(76, 44%, 95%, 0.6);
}

#absolute-path-image{
    background-color: hsla(21, 25%, 89%, 0.6);
    border: .25rem solid rgb(26, 28, 27);
    border-radius: 1rem;
    color: rgb(12, 12, 11);
}
#relative-path-image{
    background-color: hsla(35, 82%, 83%, 0.6);
    border: .25rem solid rgb(19, 13, 207);
    border-radius: 1rem;
    color: blue;
}
#bio{
    text-align: left;
}
#quote{
    padding: 20%;
    border: .30rem solid #268;
    box-shadow: .50rem .50rem .50rem red;
}
#relative-path-image figcaption{
    font-style: rgb(19, 13, 207);
}
#bsolute-path-image figcaption{
    font-style:  rgb(26, 28, 27);

}



